import os

class Config:
    # Базові налаштування
    SECRET_KEY = os.environ.get('SECRET_KEY', 'super-secret-default-key')
    
    # Підключення до бази даних 
    SQLALCHEMY_DATABASE_URI = 'postgresql://postgres:{{ db_password }}@{{ db_host }}:5432/conduit'
    SQLALCHEMY_TRACK_MODIFICATIONS = False

    # Налаштування S3 для збереження файлів
    AWS_S3_BUCKET = '{{ app_s3_bucket }}'
    AWS_REGION = '{{ target_region }}'